# Configuração Manual do Nixpacks para Kuky API

[phases.setup]
# MUDANÇA AQUI: Removemos 'python3-pip' da lista.
# O 'python3' do Nix já deve ser suficiente para rodarmos o pip.
nixPkgs = ["nodejs_18", "python3", "ffmpeg"]

[phases.install]
# MUDANÇA AQUI: Usamos 'python3 -m pip' para garantir que ele ache o pip correto
cmds = [
    "npm install",
    "python3 -m pip install --upgrade 'yt-dlp[default,curl_cffi]' --break-system-packages"
]

[start]
cmd = "npm run start"
