# Configuração Manual do Nixpacks para Kuky API

[phases.setup]
# Mantemos os pacotes básicos (o Python vem sem o pip, e isso é normal no Nix)
nixPkgs = ["nodejs_18", "python3", "ffmpeg"]

[phases.install]
cmds = [
    "npm install",
    # O COMANDO MÁGICO: Isso cria o pip dentro do Python
    "python3 -m ensurepip --default-pip",
    # Agora o pip existe e podemos usá-lo
    "python3 -m pip install --upgrade 'yt-dlp[default,curl_cffi]' --break-system-packages"
]

[start]
cmd = "npm run start"
